body {
    margin: 0;
}

header {
    margin: 0;
    padding: 2em;
    background-color: grey;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 1;
}

nav li {
    list-style: none;
}

nav a {
   text-decoration: none;
   color: #fff;
}

.searchbar {
    margin: 0 auto;
    min-width: 200px;
    max-width: 525px;
    text-align: center;
    border: 1px solid grey;
    padding: .75em;
    position: relative;
    top: -25px;
    z-index: 2;
    background-color: #fff;
    border-radius: 10px;
}

.searchbar button,
.searchbar input {
    height: 2em;
}

#site-search {
    width: 80%;
}

#search-result-content {
    margin: 2em 2em;
    padding: 3em;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}


@media (max-width: 500px) {
    .searchbar {
        max-width: 80%;
    }

    #search-result-content {
        margin: 0 auto;
        flex-direction: column;
    }
}


.movie-container {
    display: flex;
    margin: 1em;
    text-align: center;
}

.movie-container img {
    width: 275px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.movie-container .movie-info {
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-info a {
    box-sizing: border-box;
    width: 117px;
    height: 30px;
    align-self: center;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 1em;
}

.movie-info button {
    align-self: center;
}

#watchlist {
    width: fit-content;
    padding: 5px 10px;
}
